# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# BRE for all changes.
* @bitwarden/dept-bre

# AppSec for security scan related files
/.github/workflows/scan.yml @bitwarden/team-appsec
/.github/workflows/_checkmarx.yml @bitwarden/team-appsec
/.github/workflows/_sonar.yml @bitwarden/team-appsec
/.github/workflows/test-checkmarx.yml @bitwarden/team-appsec
/.github/workflows/test-sonar.yml @bitwarden/team-appsec

# Default shared ownership of Dockerfile
**/Dockerfile @bitwarden/team-appsec @bitwarden/dept-bre
**/*.dockerignore @bitwarden/team-appsec @bitwarden/dept-bre
**/entrypoint.sh @bitwarden/team-appsec @bitwarden/dept-bre
