[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
urllib3 = "*"

[dev-packages]
black = "*"
pytest = "*"
anyio = "*"
dagger-io = "*"

[requires]
python_version = "3.10"
