name: CD

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions: {}

env:
  _IMAGE_NAME: # Specify the image name
  _TARGET_ENVIRONMENT: # Specify the target environment
  _K8S_OVERLAY: # Specify the Kubernetes overlay
  _PROJECT_NAME: # Specify the project name
  _REPOSITORY_NAME: # Specify the repository name
  _DEPLOY_TAG: # Specify the tag to deploy - This may require adding steps to dynamically determine

jobs:
  # NOTE: This should simply retag what was built in CI unless not possible for a specific reason
  build-push-docker:
    name: Build and Push Docker Image
    uses: ./.github/workflows/_docker.yml
    with:
      image-name: TEMPLATE_IMAGE_NAME # UPDATE THIS VALUE AFTER COPYING THE TEMPLATE
      tags: # UPDATE THIS VALUE AFTER COPYING THE TEMPLATE
      push-docker-image: true
    permissions:
      contents: read
      id-token: write
    secrets: inherit

  deploy-k8s-service:
    name: Deploy to Kubernetes
    runs-on: ubuntu-24.04
    needs:
      - build-push-docker
    permissions:
      id-token: write

    steps:
      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Get Azure Key Vault secrets
        id: get-kv-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: gh-org-bitwarden
          secrets: "BW-GHAPP-ID,BW-GHAPP-KEY"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Generate GH App token
        uses: actions/create-github-app-token@c1a285145b9d317df6ced56c09f525b5c2b6f755 # v1.11.1
        id: app-token
        with:
          app-id: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-ID }}
          private-key: ${{ steps.get-kv-secrets.outputs.BW-GHAPP-KEY }}
          owner: ${{ github.repository_owner }}
          repositories: devops
          permission-actions: write

      - name: Dispatch deployment
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: >
          gh workflow run deploy-k8s-service.yml
          --repo bitwarden/devops
          --field image-names="$_IMAGE_NAME"
          --field environment="$_TARGET_ENVIRONMENT"
          --field overlay="$_K8S_OVERLAY"
          --field project-name="$_PROJECT_NAME"
          --field repository="$_REPOSITORY_NAME"
          --field tag="$_DEPLOY_TAG"
