name: Cherry pick to RC

on:
  workflow_call:
    inputs:
      source_pr:
        required: true
        type: string
      allowed_labels:
        required: true
        type: string
      label_override:
        required: false
        type: string
        default: ''
  workflow_dispatch:
    inputs:
      source_pr:
        description: 'Pull request to cherry pick from.'
        required: true
        type: string
      allowed_labels:
        description: 'PR Labels that will trigger a cherry pick. (Leave blank unless you know what you''re doing.)'
        required: false
        type: string
        default: '["test-label"]'
      label_override:
        description: 'Override the labels on the source PR with a single label. (Leave blank unless you know what you''re doing.)'
        required: false
        type: string
        default: 'test-label'

permissions: {}

jobs:
  evaluate-pr:
      name: Evaluate PR
      env:
        _SOURCE_PR: ${{ inputs.source_pr }}
        _LABEL_OVERRIDE:  ${{ inputs.label_override }}
        _ALLOWED_LABELS:  ${{ inputs.allowed_labels }}
      runs-on: ubuntu-24.04
      outputs:
        cherry_pick_branch: ${{ steps.parse-labels.outputs.cherry_pick_branch }}
      permissions: 
        contents: read
      steps:
        - name: Parse Labels
          id: parse-labels
          env:
            GH_TOKEN: ${{ github.token }}
          run: |        
            cherry_pick_branch=''

            if [[ -n $_LABEL_OVERRIDE ]]; then
              pr_labels="[\"$_LABEL_OVERRIDE\"]"
            else
              pr_labels=$(gh pr view "$_SOURCE_PR" --repo "${{ github.repository }}" --json labels --jq '[.labels[].name]')
            fi

            IFS=$'\n'
            for pr_label in $(echo "$pr_labels" | jq -r '.[]'); do
              for allowed_label in $(echo "$_ALLOWED_LABELS" | jq -r '.[]'); do
                if [[ $pr_label == $allowed_label ]]; then
                  if [[ $cherry_pick_branch != '' ]]; then
                    echo '✗ ERROR: Multiple cherry pick labels found. Cannot determine cherry pick destination branch.'
                    exit 1
                  else
                    echo "✓ Found cherry-pick label: [$pr_label]"
                    echo "cherry_pick_branch=$pr_label" >> $GITHUB_OUTPUT
                  fi
                fi
              done
            done

            exit 0
  
  cherry-pick:
    name: Cherry Pick Commit
    needs: evaluate-pr
    if: ${{ needs.evaluate-pr.outputs.cherry_pick_branch != '' }}
    env:
      _SOURCE_PR: "${{ inputs.source_pr }}"
      _CHERRY_PICK_BRANCH: "${{ needs.evaluate-pr.outputs.cherry_pick_branch }}"
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout target branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ env._CHERRY_PICK_BRANCH }}
          fetch-depth: 0
          persist-credentials: true

      - name: Configure git
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"

      - name: Extract commits from PR
        env:
          GH_TOKEN: ${{ github.token }}
        id: extract-commits
        run: |
          echo "Fetching commits from PR: [#$_SOURCE_PR]"
          commits=$(gh pr view "$_SOURCE_PR" --json commits --jq '.commits[].oid' | tr '\n' ' ')

          echo "Commits to cherry-pick: [$commits]"
          echo "commits=$commits" >> $GITHUB_OUTPUT

      - name: Create cherry-pick branch
        id: create-branch
        run: |
          new_branch_name="cherry-pick-PR$_SOURCE_PR-to-$_CHERRY_PICK_BRANCH"
          echo "new_branch_name=$new_branch_name" >> $GITHUB_OUTPUT
          git checkout -b "$new_branch_name"

      - name: Cherry pick commit(s)
        env:
          COMMITS: ${{ steps.extract-commits.outputs.commits }}
        run: |
          echo "Cherry-picking commits to branch [$_CHERRY_PICK_BRANCH]"
          for commit in $COMMITS; do
            echo -n "Cherry-picking commit: [$commit]. "
            if ! git cherry-pick "$commit"; then
              echo '✗'
              echo "ERROR: Cherry-pick failed for commit [$commit]"
              git cherry-pick --abort
              exit 1
            else
              echo '✓'
            fi
          done

          echo "✓ All cherry-picks successful!"

      - name: Push cherry-pick branch
        env:
          NEW_BRANCH_NAME: ${{ steps.create-branch.outputs.new_branch_name }}
        run: |
          git push origin "$NEW_BRANCH_NAME"

      - name: Create Pull Request
        env:
          GH_TOKEN: ${{ github.token }}
          NEW_BRANCH_NAME: ${{ steps.create-branch.outputs.new_branch_name }}
        run: |
          pr_url=$(gh pr view "$_SOURCE_PR" --json url --jq '.url')

          gh pr create \
            --base $_CHERRY_PICK_BRANCH \
            --head $NEW_BRANCH_NAME \
            --title "Cherry-pick PR [#$_SOURCE_PR] to [$_CHERRY_PICK_BRANCH]" \
            --body "Automated cherry-pick of PR [#$_SOURCE_PR]($pr_url)" \
            --draft
