name: Check PR run

on:
  workflow_call:

permissions: {}

jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - name: Get user permission
        id: get-permission
        uses: actions-cool/check-user-permission@7b90a27f92f3961b368376107661682c441f6103 # v2.3.0
        with:
          require: write
          username: ${{ github.triggering_actor }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check user permission
        if: |
          steps.get-permission.outputs.require-result == 'false'
          && github.triggering_actor != 'bw-ghapp[bot]'
        env:
          USER_PERMISSIONS: ${{ steps.get-permission.outputs.user-permission }}
        run: |
          echo "User ${GITHUB_TRIGGERING_ACTOR} does not have the necessary access for this repository."
          echo "Current permission level is ${USER_PERMISSIONS}."
          echo "Job originally triggered by ${GITHUB_ACTOR}."
          exit 1
