name: Check PR run

on:
  workflow_call:

permissions: {}

jobs:
  check-permission:
    name: Check permission
    uses: bitwarden/gh-actions/.github/workflows/_check-permission.yml@main
    with:
      failure_mode: "continue" # Continue so that the BW bot can skip
      require_permission: "write"
    secrets: inherit
    permissions:
      contents: read

  check:
    name: Check
    runs-on: ubuntu-24.04
    needs: check-permission
    if: ${{ needs.check-permission.outputs.has_permission == 'false' && github.triggering_actor != 'bw-ghapp[bot]' }}

    steps:
      - name: Fail - insufficient permissions
        env:
          GITHUB_TRIGGERING_ACTOR: ${{ github.triggering_actor }}
          USER_PERMISSIONS: ${{ needs.check-permission.outputs.user_permission }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: |
          echo "User ${GITHUB_TRIGGERING_ACTOR} does not have the necessary access for this repository."
          echo "Current permission level is ${USER_PERMISSIONS}."
          echo "Job originally triggered by ${GITHUB_ACTOR}."
          exit 1
