name: Workflow Linter PR trigger

on:
  pull_request:
    paths:
      - .github/workflows/workflow-linter.yml

permissions:
  contents: read
  id-token: write # allow reporting to Slack using OIDC

jobs:
  linter:
    name: Lint
    uses: ./.github/workflows/workflow-linter.yml
    secrets:
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
