name: Cherry pick to RC - ${{ github.repository }}

on:
  pull_request:
    types: [closed]
    branches:
      - main
  workflow_dispatch:
    inputs:
      source_pr:
        description: 'Pull request to cherry pick from.'
        required: true
        type: string
      label_override:
        description: 'Override the labels on the source PR with a single label.'
        required: false
        type: string
        default: ''
      override_merge_check:
        description: 'Override the requirement that the source PR has to be merged before it can be cherry-picked from.'
        required: false
        type: boolean 
        default: false
env:
  ALLOWED_LABELS: '["rc-cherry-pick", "hotfix-rc-cherry-pick"]'

permissions: {}

jobs:
  cherry-pick:
    name: Cherry Pick
    if: ${{ github.event.pull_request.merged || inputs.override_merge_check }}
    uses: gh-actions/.github/workflows/_rc-cherry-pick.yml@BRE-1359/backport-cherry-pick
    with:
      source_pr: ${{ inputs.source_pr || github.event.pull_request.number }}
      allowed_labels: ${{ env.ALLOWED_LABELS }}
      label_override: ${{ inputs.label_override }}
    permissions:
      contents: write
      pull-requests: write
