name: Test report-upcoming release version to Slack
on:
  pull_request:
    paths:
      - "report-upcoming-release-version/**"
      - ".github/workflows/test-report-upcoming-release-version.yml"

jobs:
  test-report-upcoming-release-version-oidc:
    name: Test report upcoming release version to Slack
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Report upcoming release version to Slack
        uses: ./report-upcoming-release-version
        with:
          project: bitwarden/server
          version: upcoming_version_2
          slack-channel: bre-alerts-test
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
