name: Test Codecov proxy-action

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'proxy-actions/codecov/**'
      - '.github/workflows/test-proxy-action-codecov.yml'

permissions:
  contents: read

jobs:
  test-codecov-proxy:
    name: Test codecov proxy action
    runs-on: ubuntu-24.04
    steps:
      - name: Run codecov proxy action
        uses: ./proxy-actions/codecov
