name: Test Codecov proxy-action

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'proxy-actions/codecov/**'
      - '.github/workflows/test-codecov-proxy-action.yml'

permissions:
  contents: read

jobs:
  test-codecov-proxy:
    name: Test codecov proxy action
    uses: ./proxy-actions/codecov
