name: Lint workflow

on:
  pull_request:
    paths:
      - .github/workflows/**
  pull_request_target: # temporary to force failure
    types: [opened, synchronize, reopened]
  merge_group:
    types: [checks_requested]
  workflow_call:
  workflow_dispatch:

env:
  TEST_REPORT_PROJECT: Server
  TEST_REPORT_COMMIT_SHA: "50f7fa03dbc0f18a641206ab1a92fb11a1131572"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Check out branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{ github.repository }}
          fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}
          persist-credentials: false

      - name: Check changed files for workflow changes
        id: changed-workflows
        run: |
          if ${{ github.event_name == 'pull_request' }}; then
            changed_files=$(git diff --name-only --diff-filter=d -r HEAD^1 HEAD | xargs)
          else
            changed_files=$(git diff --name-only --diff-filter=d "${{ github.event.before }}" "${{ github.event.after }}" | xargs)
          fi

          count=$(( 0 ))
          files_to_lint=""
          for file in $changed_files; do
            if [[ "$file" == ".github/workflows/"* ]]; then
              count=$((count + 1 ))
              files_to_lint="$files_to_lint $file"
            fi
          done

          echo "Workflow files changed: $count"
          echo "Files to lint: $files_to_lint"
          echo "changed_files=$files_to_lint" >> "$GITHUB_OUTPUT"
          echo "changed_files_count=$count" >> "$GITHUB_OUTPUT"

      - name: Download actionlint configuration
        if: steps.changed-workflows.outputs.changed_files_count != '0'
        run: |
          curl \
          --fail \
          --create-dirs \
          --output .github/actionlint.yml \
          https://raw.githubusercontent.com/bitwarden/workflow-linter/refs/heads/main/.github/actionlint.yml

      - name: Set up Python 3.13
        if: steps.changed-workflows.outputs.changed_files_count != '0'
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13.7"

      - name: Install bwwl binary
        if: steps.changed-workflows.outputs.changed_files_count != '0'
        run: python -m pip install --upgrade bitwarden_workflow_linter

      - name: Lint
        id: lint
        env:
          files: ${{ steps.changed-workflows.outputs.changed_files }}
        if: steps.changed-workflows.outputs.changed_files_count != '0'
        run: |
          echo "$files"
          set +e  # Don't exit on error
          output=$(bwwl lint -f $files 2>&1)
          exit_code=$?
          set -e

          echo "lint_output<<EOF" >> "$GITHUB_OUTPUT"
          echo "$output" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
          echo "lint_exit_code=$exit_code" >> "$GITHUB_OUTPUT"
          echo "pull_request_target_failed=$(echo "$output" | grep -c 'pull_request_target' | awk '{print ($1 > 0 ? "true" : "false")}')" >> "$GITHUB_OUTPUT"
          exit $exit_code

        continue-on-error: true
      
      - name: Echo lint results
        if: steps.lint.outcome == 'failure'
        env:
          OUTPUT_DATA: ${{ toJSON(steps.lint.outputs) }}
        run: |
            # Extract lint output
            lint_output=$(echo "$OUTPUT_DATA" | jq -r '.lint_output')

            # Clean ANSI codes
            clean=$(echo "$lint_output" | sed 's/\x1b\[[0-9;]*m//g')

            echo "$OUTPUT_DATA.lint_output"

      - name: Report Failure to Slack
        if: steps.lint.outcome == 'failure'
        uses: ./report-deployment-status-to-slack
        with:
          project: $TEST_REPORT_PROJECT
          environment: US-QA Cloud
          slack-channel: bre-alerts-test
          tag: test-workflow-failure
          event: "failure"
          commit-sha: $TEST_REPORT_COMMIT_SHA
          url: https://github.com/bitwarden/gh-actions/actions/runs/${{ github.run_id }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}


      # - name: Retrieve secrets
      #   id: retrieve-secrets
      #   if: steps.lint.outputs.pull_request_target_failed
      #   uses: bitwarden/gh-actions/get-keyvault-secrets@main
      #   with:
      #     keyvault: "bitwarden-ci"
      #     secrets: "devops-alerts-slack-webhook-url"

      # - name: Notify Slack on failure
      #   uses: ./report-deployment-status-to-slack
      #   if: steps.lint.outputs.pull_request_target_failed
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ steps.retrieve-secrets.outputs.devops-alerts-slack-webhook-url }}
      #   with:
      #     status: ${{ job.status }}
      #     project: $TEST_REPORT_PROJECT
      #     environment: US-QA Cloud
      #     slack-channel: bre-alerts-test
      #     tag: test-workflow-failure
      #     event: 'failure'
      #     commit-sha: $TEST_REPORT_COMMIT_SHA
      #     url: https://github.com/bitwarden/gh-actions/actions/runs/${{ github.run_id }}
      #     AZURE_KV_CI_SERVICE_PRINCIPAL: ${{ secrets.AZURE_KV_CI_SERVICE_PRINCIPAL }}

      # - name: Failure
      #   uses: ./report-deployment-status-to-slack
      #   if: ${{ steps.lint.outputs.pull_request_target_failed && steps.lint.outcome == 'failure' }}
      #   env:
      #     EXIT_CODE: ${{ steps.lint.outputs.lint_exit_code }}
      #   with:
      #     project: $TEST_REPORT_PROJECT
      #     slack-channel: bre-alerts-test
      #     tag: test-workflow-failure
      #     project_owner: agalles
      #     environment: US-QA Cloud
      #     event: 'failure'
      #     commit-sha: $TEST_REPORT_COMMIT_SHA
      #     url: https://github.com/bitwarden/gh-actions/actions/runs/${{ github.run_id }}
      #     AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      #     AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      #     AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}

      # - name: Failure
      #   if: ${{ steps.lint.outputs.pull_request_target_failed && steps.lint.outcome == 'failure' }}
      #   uses: ./report-deployment-status-to-slack
      #   with:
      #     project: $TEST_REPORT_PROJECT
      #     environment: US-QA Cloud
      #     slack-channel: bre-alerts-test
      #     tag: test-workflow-failure
      #     event: "failure"
      #     commit-sha: $TEST_REPORT_COMMIT_SHA
      #     url: https://github.com/bitwarden/gh-actions/actions/runs/${{ github.run_id }}
      #     AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      #     AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      #     AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}

    